*{
    font-family : sans-serif;
    border-radius: 4px;
    border-width: thin;
    border-color: gray;
}

h1 {
    padding-top: 30px;
    margin : 5px;
    margin-bottom: 20px;
}

#error-message{
    
    margin-left : 140px;
    font-size: 16px;
    color : red
    
}

select {
    
    font-size: 12px;
}

#birthday {
    margin-bottom : 15px !important;
    margin-left: 5px;
    font-size: 25px;
}

#days-dropdown, #months-dropdown, #years-dropdown {
    margin-left: 4px;
    width: 70px;
    font-size: 13px;
}

.textfield {
    padding-left: 5px;
    margin : 5px;
    font-size: 17px;
    height: 30px;
}

input[name='gender'] {
    
    margin : 5px;
    font-size: 17px;
}
#email-txtfield, #password-txtfield {
    width : 396px;
    
}

#password-txtfield {
    margin-bottom: 20px;
}

#submit-btn{
    width : 120px;
    height : 35px;
    margin-top: 40px;
    margin-left: 165px;
    font-size: 20px;
    color: white;
    background-color: cornflowerblue;
}

#have-an-account{
    margin-left: 100px;
    margin-top: 50px;
}

